@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.home {
  @include center(flex, flex-start, space-between);
  gap: 40px;
}

@media (max-width: 768px) {
  .home {
    max-width: 360px;
    margin: 0 auto;
    display: block;

    .creareConainer {
      margin-bottom: 30px;
    }
  }
}
