@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.banner {
  height: 150px;
  max-width: 350px;
  padding: 20px;
  margin-bottom: 30px;
  @include center();
  gap: 5px;
  background: $bg-purple-blue;
  border-radius: 30px;
  box-shadow: $bs-default;

  .content {
    color: $white;

    .tilte {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: $semi-bold;
    }

    .subtitle {
      margin-bottom: 15px;
      font-size: 14px;
    }

    .link {
      width: 95px;
      height: 35px;
      @include center();
      color: $white;
      font-size: 12px;
      font-weight: $medium;
      text-transform: capitalize;
      background: $bg-purple;
      border-radius: 50px;
    }
  }

  > img {
    width: 120px;
    height: 120px;
  }
}
