@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.notifications {
	@include center(flex, flex-start, center);
	flex-direction: column;
	gap: 20px;

	.notice {
		@include center(flex, center, space-between);
		width: 100%;
		padding: 20px;
		background: $blue-lighter;
		border-radius: 10px;

		&__success {
			background: $gray-lighter;
		}

		p {
			font-size: 14px;
		}
	}
}
