@import 'src/assets/styles/variables';

.workoutForm {
  max-width: 350px;
  max-height: 600px;
  padding: 15px 20px;
  border: 10px $blue-light solid;
  border-radius: 30px;
  box-shadow: $bs-default;
}
