@import 'src/assets/styles/mixins';

.radioGroup {
	width: 100%;
	margin-bottom: 20px;
	@include center(flex, center, space-between);

	input[type='radio'] {
		display: none;
	}

	label {
		display: inline-block;
		position: relative;
		cursor: pointer;
		margin-right: 10px;
	}

	label img {
		opacity: 0.3;
	}

	input[type='radio']:checked + label img {
		opacity: 1;
	}
}
